.main{
    text-align: center;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
input{
    display:inline-block;
    padding: 9px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
    margin-top: 9px;
}
h1{
    padding: 10px;
    font-weight: 400;
    font-size: 40px;
}
#submit{
    padding: 10px;
    cursor: pointer;
    background-color: #1EAEDB;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 9px;
}
input:focus{
    outline: none;
    border: 1.5px solid #1EAEDB;
}
#submit:hover{
    background-color: #3ba9ca;
}
.card{
    flex: 25%;
    max-width: 23%;
    margin-left: 10px;
    border-radius: 20px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 1px 2px rgb(219, 219, 219);
}
.read{
    padding: 10px;
    cursor: pointer;
    background-color: #3F8DEB;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 10px;
}
.btn{
    padding: 10px;
    cursor: pointer;
    background-color: #fa7090;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 10px;
}
.card:hover{
    margin-top: -5px;
    transition: 0.5s;
}
#librarys{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

  @media (max-width: 600px) {
    .card{
      flex: 100%;
      max-width: 100%;
    }

  }

  @media only screen and (min-width: 600px) {
    .card{
      flex: 50%;
      max-width: 48%;
    }
  }
  @media only screen and (min-width: 900px) {
    .card{
        flex: 25%;
        max-width: 23%;
    }
  }
  @media only screen and (min-width: 1200px) {
    .card{
        flex: 25%;
        max-width: 23%;
    }
  }

.librarys p{
    padding: 10px;
    font-size: 25px;
}
.librarys p b{
    margin-top: 3px;
}



